html,
body {
  background: #473968;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-table {
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.main-content {
  margin-bottom: 10em;
  z-index: 1;
}

.container-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.name {
  text-align: center;
}

img.me {
  height: 250px;
  border-radius: 100%;
}

