html,
body {
  background: #473968;
  min-height: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-table {
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.main-content {
  margin-bottom: 10em;
  z-index: 1;
}

.container-canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.name {
  text-align: center;
}

img.me {
  height: 250px;
  border-radius: 100%;
}

// h100 page

.img-container {
  text-align: center;
  display: block;
}

.description {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
